<%
if(parseInt(dangxem) <= 1){
	truoc = 1 ; 
}else{
	truoc = parseInt(dangxem) - 1 ; 
}
var sau = parseInt(dangxem) + 1 ; 

%>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Product Details | E-Shopper</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/price-range.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
	<![endif]-->   
	<base href="http://localhost:3000/">
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
	<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
	<script>
	$(document).ready(function(){
		$("#like").click(function(){
			var id = $(this).attr("hinh"); 
			$.get("http://localhost:3000/like/" + id,function(data){
				location.reload();
			
			}) ; 
		});

		$("#dislike").click(function(){
			var id = $(this).attr("hinh"); 
			$.get("http://localhost:3000/dislike/" + id,function(data){
				location.reload();
			}) ; 
		});
	});
	</script>



	



</head><!--/head-->

<body>
	
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6 ">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href=""><i class="fa fa-phone"></i>  Hotline: +84 982 004216</a></li>
								<li><a href=""><i class="fa fa-envelope"></i>  huynhhanthanh1997@gmail.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href=""><i class="fa fa-facebook"></i></a></li>
								<li><a href=""><i class="fa fa-twitter"></i></a></li>
								<li><a href=""><i class="fa fa-linkedin"></i></a></li>
								<li><a href=""><i class="fa fa-dribbble"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="http://localhost:3000/"><img src="images/shop/logo.jpg" alt="" width="139" height="39"/></a>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href=""><i class="fa fa-user"></i> Đăng Kí</a></li> 
								<li><a href="http://localhost:3000/login"><i class="fa fa-lock"></i> Đăng Nhập</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div  class="mainmenu pull-left" >
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="http://localhost:3000/" class="active">Trang Chủ</a></li>
								<li class="dropdown"><a href="#" class="active">Cửa Hàng <i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
										<li><a href="http://localhost:3000/chitiet/1" class="active">Chi tiết Sản Phẩm</a></li>   
										<li><a href="http://localhost:3000/login" class="active">Đăng Nhập </a></li> 
                                    </ul>
                                </li>  
								<li><a href="http://localhost:3000/lienhe" class="active">Liên Hệ  </a></li>
                                <li><a  class="active" href="http://localhost:3000/thietke">Thiết Kế Áo </a></li>
                                <li><a  class="active"> Tuyển Dụng </a></li>
                                <li><a  class="active"> Dịch Vụ</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Tìm kiếm"/>
						</div>
					</div>
				</div>
				</div>
			</div>
	</header><!--/header-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<div class="left-sidebar">
						<h2>Thể Loại</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default">
								<div id="sportswear" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="">Nike </a></li>
											<li><a href="">Under Armour </a></li>
											<li><a href="">Adidas </a></li>
											<li><a href="">Puma</a></li>
											<li><a href="">ASICS </a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#mens">
											<span class="badge pull-right"></span>
											Nam
										</a>
									</h4>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#womens">
											<span class="badge pull-right"></span>
											Nữ
										</a>
									</h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Trẻ em</a></h4>
								</div>
							</div>
						</div><!--/category-productsr-->
					
						<div class="brands_products"><!--brands_products-->
							<h2>Nhã hiệu </h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href=""> <span class="pull-right">(50)</span>Việt Tiến</a></li>
									<li><a href=""> <span class="pull-right">(56)</span>Adam Store</a></li>
									<li><a href=""> <span class="pull-right">(27)</span>GUCCI </a></li>
									<li><a href=""> <span class="pull-right">(32)</span>Nike</a></li>
									<li><a href=""> <span class="pull-right">(5)</span>Chanels</a></li>
									<li><a href=""> <span class="pull-right">(9)</span>An Phước</a></li>
									<li><a href=""> <span class="pull-right">(4)</span>Owen </a></li>
								</ul>
							</div>
						</div><!--/brands_products-->
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="images/product-details/<%=hinh%>" alt="" />
								<h3>ZOOM</h3>
								<div class="btn-toolbar" role="toolbar"> 						
									<button type="button" class="btn-group" onclick="window.location.href='http://localhost:3000/chitiet/1'">1</button>
									<button type="button" class="btn-group" onclick="window.location.href='http://localhost:3000/chitiet/2'">2</button>
									<button type="button" class="btn-group" onclick="window.location.href='http://localhost:3000/chitiet/3'">3</button>
									<button type="button" class="btn-group" onclick="window.location.href='http://localhost:3000/chitiet/4'">4</button>
									<button type="button" class="btn-group" onclick="window.location.href='http://localhost:3000/chitiet/5'">5</button>
									<button type="button" class="btn-group" onclick="window.location.href='http://localhost:3000/chitiet/5'">6</button>
									<button type="button" class="btn-group" onclick="window.location.href='http://localhost:3000/chitiet/5'">7</button>
									<button type="button" class="btn-group" onclick="window.location.href='http://localhost:3000/chitiet/5'">8</button>
									<button type="button" class="btn-group" onclick="window.location.href='http://localhost:3000/chitiet/5'">9</button>
									<button type="button" class="btn-group" onclick="window.location.href='http://localhost:3000/chitiet/5'"><span class="glyphicon glyphicon-chevron-right"></span></button>
								</div>
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">
								
								  <!-- Wrapper for slides -->
								    <div class="carousel-inner">
										<div class="item active">
										  <a href=""><img src="images/product-details/1.jpg" alt="" width="84" height="85" ></a>
										  <a href=""><img src="images/product-details/2.jpg" alt="" width="84" height="85"></a>
										  <a href=""><img src="images/product-details/3.jpg" alt="" width="84" height="85"></a>
										  <a href=""><img src="images/product-details/4.jpg" alt="" width="84" height="85"></a>
										
										</div>
										<div class="item">
										  <a href=""><img src="images/product-details/3.jpg" alt="" width="84" height="85"></a>
										  <a href=""><img src="images/product-details/4.jpg" alt="" width="84" height="85"></a>
										  <a href=""><img src="images/product-details/5.jpg" alt="" width="84" height="85"></a>
										  <a href=""><img src="images/product-details/1.jpg" alt="" width="84" height="85"></a>
										</div>
										<div class="item">
											<a href=""><img src="images/product-details/1.jpg" alt="" width="84" height="85"></a>
										  <a href=""><img src="images/product-details/2.jpg" alt="" width="84" height="85"></a>
										  <a href=""><img src="images/product-details/4.jpg" alt=""width="84" height="85"></a>
										  <a href=""><img src="images/product-details/3.jpg" alt=""width="84" height="85"></a>
										</div>
										
									</div>

								  <!-- Controls -->
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
							</div>
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src="images/product-details/new.jpg" class="newarrival" alt="" />
								<h2>Áo đã thiết kế </h2>
								<p>Web ID: 1089772</p>
								<img src="images/product-details/rating.png">
								<span>
									<span> 59K</span>
									<img src="images/product-details/like.png" id="like" hinh=<%= dangxem%> width="50px" height="50px"><%=like%>
									<img src="images/product-details/dislike.png" id="dislike" hinh=<%= dangxem%> width="50px" height="50px"><%=dislike%>
									
									<button type="button" class="btn btn-fefault cart">
										<em class="fa fa-shopping-cart"></em>
										Thêm vào giỏ 
									</button>
								</span>
								
								<a><img src="images/product-details/share.png" class="share img-responsive"></a>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					
					<div class="category-tab shop-details-tab"><!--category-tab-->

					<!--/recommended_items-->
					
				</div>

				<div class="form-group col-md-12">
					<textarea name="message" id="message" required class="form-control" rows="8" placeholder="Your Message Here"></textarea>
					<button type="submit" class="btn">Send</button>
				</div>  
			</div>
		</div>
	</section>
	
	<footer id="footer"><!--Footer-->
		
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="single-widget">
							<h2>SHOP THỜI TRANG ONLINE </h2>
							<h2><i class="fa fa-location-arrow"></i> VP:Tầng 16 - CC Phú Đạt - Đường D5 - P 25 - Q.Bình Thạnh TP.HCM</h2>
							<h2><i class="fa fa-phone"></i>0933222836</h2>
							<h2><i class="fa fa-mail-forward"></i>Mail</h2>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>chính sách bảo mật</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">chính sách đổi trả</a></li>
								<li><a href="#">chính sách bảo hành </a></li>
								<li><a href="#">chính sách thanh toán</a></li>
								<li><a href="#">chính sách vận chuyển</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2> Hướng dẫn mua hàng </h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">chính sách đổi trả</a></li>
								<li><a href="#">chính sách bảo hành </a></li>
								<li><a href="#">chính sách thanh toán</a></li>
								<li><a href="#">chính sách vận chuyển</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2> <a href="https://www.facebook.com/son.vuong.7505"> Facebook</a></h2>
							<img src="images/shop/facebook.png" width="270">
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
					<p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
	

  
    <script src="js/jquery.js"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>
</html>